.tb-disputemain{
    padding: 28px 30px 24px 30px;
    background-color: #fff;
    border-bottom: 1px solid $border-color;
    .tb-extras{
        text-align: right;
        margin-top: 0;
    }
}

.tb-disputextrasinfo{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    & ~ .tb-disputextrasinfo{
        margin-right: auto;
        margin-left: 60px;
    }
    figure{
        max-width: 40px;
        margin: 0 20px 0 0;
        img{
         @extend %border-radius4;
        }
    }
    .tb-taskinfo{
        span{
            color: $body-font-color;
        }
    }
    .tb-taskinfo{
        h6{
            font-size: rem(16px);
        }
    }
}
.table>:not(:first-child){border-top: 0;}
.tb-disputedisc{
    flex: 0 0 82%;
    .tb-tags{
        padding-bottom: 3px;
    }
    > span{
        display: inline-block;
        font: 400 rem(14)/em(14,14) $heading-font-family;
        margin: 9px 0 0;
    }
    h5{
        margin: 0;
        a{
            line-height:em(17,14);
            display: block;
            &:hover{
                color: inherit;
            }
        }
    }
}
.tb-sarticlesbtnsarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 30px 30px;
    border-bottom: 1px solid #eee;
}
.tb-disputearea{
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 4px;
    .tb-extrasarticles{
        & + .tb-extrasarticles{
            padding: 27px 30px 26px 30px;
            border-bottom: 0;
        }
    }
}
.tb-extrasarticles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid $border-color;
}
.tb-articletitle{
    h4{
        margin: 0 0 14px;
        font: 400 rem(20)/em(28,20) $heading-font-family;   
    }
}
.tb-articlediscription{
    p{
        font-size: rem(16px);
        line-height: em(26,16);
        &:not(:last-child){margin-bottom: 18px;}
    }
}
.tb-articlelist{
    padding: 2px 0 26px;
    li{
        position: relative;
        list-style-type: none;
        padding: 0 0 6px 13px;
        font: 400 rem(16)/em(22,16) $body-font-family;   
        &:after {
            width: 4px;
            height: 4px;
            left: 0;
            top:9px;
            font-size: 1.375rem;
            content: "";
            position: absolute;
            background-color: #676767;
            border-radius: 50%;
        }
        &:last-child{
            padding-bottom: 0;
        }
    }
    & ~ .tb-articlediscription{
        p{
            margin: 0;
        }
    }
}
.tb-extrasarticlesbg{
    background: #f7f7f7;
}
.tb-articlebtns{
    display: flex;
    justify-content: space-between;
    a{
        min-width: 150px;
    }
    a.tb-btngreen{
        margin: 0 10px 0 0;
    }
}
.tb-articleaction{
    p{
        width: 68%;
        margin: 0;
        color: $text-light;
    }
}
.tb-btngreen{
    background: #00cc8d;
}
.tb-btnred{
    background: #ff7062;
}
.tb-inputheight{
    margin: 0 10px 0 0;
    padding: 0;
    .form-control{
        height: 48px;
    }
}
.tb-displistform{
    fieldset{
        margin:0;
    }
}
.tb-table {
    margin: 0;
    box-shadow: none;
    border-spacing: 0;
    border-radius: 4px;
    background-color: #fff;
    border-collapse: separate;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.08));
    >thead {
		>tr {
            border-left: 1px solid $lighter;
            border-right: 1px solid $lighter;
            background-color: #FAFAFB;
			>th {
                text-align: left;
				border: 0 !important;
                padding: 10px 20px;
                vertical-align: middle;
				color: $dark    ;
				font: 600 rem(16)/em(26, 16) $heading-font-family;
                .tb-checkbox,
                .tb-radiobox{
                    label{
                        color: $dark;
                        font: 600 rem(16)/em(26, 16) $heading-font-family;
                        span{
                            display: block;
                            color: $dark;
                            font: 600 rem(16)/em(26, 16) $heading-font-family;
                        }
                    }
                }
            }
            td{
                color: $body-font-color;
                > span{
                    display: inline-block;
                    color: $body-font-color;
                    font: 400 rem(14)/em(15, 14) $body-font-family;
                    em {
                        font-size: rem(12px);
                        vertical-align: middle;
                        display: inline-block;
                    }
                }
            }
		}
	}
    .tb-bordertags{display: flex;}
	>tbody {
        display: contents;
        padding: 0;
		>tr {
            @extend %transition;
            &:hover{
                background: #fcfcfc;
            }
            td {
                border: 0;
                color: $dark;
                text-align: left;
                padding: 12px 20px;
                vertical-align: middle;
                border-top: 1px solid #eee;
                font: 600 rem(16)/em(26,16) $heading-font-family;
            }
            td{
                .tb-checkbox{
                    label{
                        span{
                            font-weight: 400;
                        }
                    }
                }
                > span{
                    color: $dark;
                    display: flex;
                    align-items: center;
                    font: 400 rem(15)/em(24, 15) $body-font-family;
                    em {
                        color: #999;
                        margin: 0 0 0 3px;
                        font-size: rem(12px);
                        display: inline-block;
                        vertical-align: baseline;
                    }
                    img{
                        width: 40px;   
                        height: 40px;
                        display: block;
                        object-fit: cover;
                        margin-right: 10px;
                        border-radius: 4px;
                    }
                }
            }
			>th {
                border: 0;
				text-align: left;
                color: $body-font-color;
				font: 400 rem(14)/em(15, 14) $body-font-family;
			}
		}
	}
	
}

.tb-vieweye{
    display: inline-block;
    color: $body-font-color;
    font: 400 rem(13)/em(15, 13) $body-font-family;
        span{
            margin: 0 2px 0 0;
            color: $theme-color;
            font-family: 'themify';
            font-size: 16px;
        }
    }
.tb-dispueitems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 81%;
    margin-left: auto;
    > a{
        font-size: rem(14px);
    }
    .tb-tags{
        padding: 0;
    }
    .tb-vieweye{
        margin: 0 0 0 20px;
        white-space: nowrap;
        font-size: rem(13px);
        &:hover{
            color: $body-font-color;
        }
    }
}
.tb-invoicecon{
    text-align: right;
    padding: 0;
    border: 0;
    margin: 0;
    @extend %flex;
    flex-wrap: nowrap;
}
.tb-disputrightinfo{
    font-size: rem(13);
    line-height: em(22,13);
    span{
        color: $body-font-color;
        font-family: $heading-font-family;
    }
    h6{
        font-size: rem(13);
        margin: 0;
    }
}
.tb-sortby{
    padding: 5px;
    .tb-inputicon i{
        color: #999;
    }
    .tb-btn{
        height: 40px;
    }
    .tb-actionselect .select2-container{
        height: 40px;
    }
    .tb-inputheight .form-control,
    .tb-actionselect .form-control{height: 40px;}
    .tb-actionselect .select2-container--default .select2-selection--single .select2-selection__rendered{
        color: #999;
        font: 400 rem(14)/em(38,14) $body-font-family;
    }
    & .select2-selection__rendered{
        color: $heading-font-color;
        font: 600 rem(14)/em(15, 14) $heading-font-family;
    }
    .tb-actionselect > span{
        color: $text-light;
        font-weight: 400; 
    }
    .tb-inputicon{
        border: 0;
        margin: 5px;
        width: auto;
    }
    .tb-inputheight{width: 300px;}
    .tb-themeform fieldset{margin: -5px;}
    .tb-themeform__wrap{align-items: center;}
    .tb-actionselect{padding: 5px;}
    .form-control,
    .select2-container--default .select2-selection--single{border-color: #eee;}
}
.tb-tasktabs{
    .tb-navtabs{
        li{
            width: calc(100% / 5);
        }
    }
}
.tb-tasktabs{
    .tab-content{
        padding: 0;
    }
}
.tb-tabtasktitle{
    h5{
        margin: 0;
        font-weight: 400;
    }
}
.tab-taskcontent{
    .tb-tabtasktitle{
        padding:30px;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .tb-themeform{
        min-width: 320px;
    }
}
.tb-inputicon{
    i{
        position: absolute;
        right: 20px;
        font-size: 20px;
        color: #676767;
    }
    input{padding-right: 50px;}
}
.tb-tasklist{
    div.tb-tabfilteritem{
        border-top: 1px solid $border-color;
        border-right: 0;
        border-left: 0;
        &+div.tb-tabfilteritem{
            border-top: 0;
        }
    }
    div.tb-tabfilteritem:last-child{
        border-bottom: 0;
    }
    .tb-submitreview{
        border: 0;
        border-top: 1px solid $border-color;
    }
}
.bg-new{
    background: transparent !important;
}
.bg-cancel{
    background:#ff7062 !important;
}
.bg-complete{
    background:#63d594 !important;
}
.tb-tags{
    .bg-new{
        border:1px solid $border-color;
        font: 400 rem(12)/em(12,12) $heading-font-family;
        color: $text-light;
    }
}
.tb-tabfiltertitle{
    h2{
        font-size: rem(26);
        line-height: em(34,26);
        font-weight: 400;
        margin-bottom: 5px;
    }
    h5{
        margin: 0;
        span{
            font: 400 rem(13)/em(19,13)  $heading-font-family;
            color: $text-light;
        }
    }
}

.tb-tabfilteritem {
    .tb-tabbitem__list{align-items: flex-end;}
}
.tb-asidebox{
    > h5{
        font-weight: 400;
        margin:0;
    }
}

.tb-admindispute{
    h2{
        font-size: 26px;
        font-weight: 400;
        margin: 0;
        line-height: em(28 , 26);
    }
    h6{
        font-weight: 400;
        margin: 0;
    }
}
.tb-admindates{
    span{
        font-size: rem(10px);
        display: inline-block;
        color: #ff7062;
        i{
            font-size: rem(13px);
            font-style: normal;
            margin: 0 0 0 4px;
            display: inline-block;
            font-family: $body-font-family;;
        }
    }
}
.tb-refreshicon {
    a{
        font-size: rem(13px);
        display: inline-block;
        color:$text-light;
    }
}
.tb-datesmain{
    @extend %flex ; 
    flex: 1;
    justify-content: space-between;
}
.tb-asideboxvtwo{
    @extend %flex ; 
    align-items: flex-start;
}
.tb-admindispute{
    margin: 0 15px 0 0;

}
.tb-totaldistupes{
    margin: 25px 0 0;
    flex: 100%;
   > li{
        list-style-type: none;
        &:nth-child(odd){background-color: #fcfcfc;}
    }
}
.tb-disputesicons{
    padding: 20px;
     @extend %flex;
     align-items: center;
        figure{
            margin: 0 10px  0 0 ;
            img {
                width: 40px;
                border-radius: 4px;
            }
        }
}
.tb-disputecount{
    h5{
        line-height: em(18 , 16);
        margin: 0 0 2px;
        font-weight: 400;
    }
    h6{
        margin: 0;
        font-weight: 400;
        font-size: rem(13px);
        color: $text-light;
    }
}
.tb-dispueitemsv2{
    margin: 0;
}

.tb-disputesummery , .tb-disputetable{
    margin: 0;
}
.tb-allgig-order{
    .tb-table .tk-proposal-title{
        max-width: 280px
    }
}
.tb-disputetable{
    .tb-table >{
        thead tr th{letter-spacing: 0.5px;}
        tbody > tr td > span{max-width: 280px;}
    }
    .tb-action-status li span a{
        display: flex;
        align-items: center;
    }
}
.tb-disputetable,
.tb-todolist,
.tb-payout{
    .tb-table{
        overflow: hidden;
        border-radius: 4px;
    }
    .tb-tabfilteritem{border-radius: 0 0 4px 4px;}
}
.tb-startingprice {
    display: flex;
	flex-direction: column;
	align-items: flex-end;
    i {
        display: block;
        font-style: normal;
        font: 400 rem(13) / em(15, 13) $heading-font-family;
    }
    span {
        color: $theme-color;
        font: 700 rem(22) / em(33, 22) $heading-font-family;
        sup {
            font-size: 57%;
            top: -6px;
        }
    }
}
.tb-additonoltitle {
    padding: 18px 30px 6px;
    background-color: $clr-white;
    border: 1px solid $border-color;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
        @extend %transition;
        display: inline-block;
    }
    h5 {
        font-weight: 400;
        margin: 0;
        span {
            display: inline-block;
            color: $text-light;
            font: 400 rem(13)/em(15, 13) $heading-font-family;
        }
    }
    .tb-startingprice {
        align-items: flex-start;
    }
}
.tb-planslist {
    border-bottom: 1px solid $border-color;
    li {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 14px;
        h6 {
            margin: 0;
            font-weight: 400;
            font-size: rem(13px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            span {
                display: inline-block;
                color: $text-light;
                font: 400 rem(14)/em(15, 14) $body-font-family;
                em {
                    font-size: rem(12px);
                    vertical-align: middle;
                    display: inline-block;
                    margin: 0 0 0 3px;
                }
            }
        }
    }
    & li:last-child {
        padding: 0 0 20px;
    }
}
.tb-additionolinfo {
    div.tb-addcomment {
        margin: 0 20px 0 0px;

        &+div.tb-addcomment {
            border-top: 1px solid $border-color;
        }
    }
    .tb-addcommenthalf {
        margin-left: 46px;
    }
    & .tb-planslist {
        &+ul {
            padding-top: 23px;
        }
    }
    & .tb-planslist:last-child {
        border: 0;
        margin-bottom: -4px;
        li {
            padding: 0;
        }
    }
    .tb-profilestatuses {
        margin: 0;
    }
}
.tb-planslistcontainer{
    background-color: $clr-white;
    border: 1px solid $border-color;
    border-top: 0;
    padding: 30px;
}
.tb-payoutmethod{
    width: 100%;
    margin: 0 0 20px;

    > li{
        > input{
            &:checked + div{
                label{
                    .tb-payoutmode{
                        span{
                            color: #676767;
                        }
                    }
                    &:before{
                        background-color: $white;
                        border: 4px solid $bright-green;
                    }
                }
            }
        }
    }
    .tb-radiobox{
        list-style-type: none;
        input[type=radio] {
            display: none;
            &:checked {
                & + .payoutlists{
                    border-color: #ddd;
                    background-color: #fff;
                    .tb-payoutmode{
                        span{
                            color: #676767;
                        }
                    }
                }
            }
        }
        & + .tb-radiobox{
            margin-top: 10px;
            &.tb-resolved{margin-top: 20px}
        }
    }
    .payoutlists{
        @extend %flex;
        align-items: center;
        padding: 18px 0;
        &:before{position: static;}
        &:after{
            top: auto;
            left: auto;
            margin-left: 5px;
        }
    }
}
.tb-payoutmethodvtwo{
    > li{
        > input{
            &:checked + div{
                background-color: #fcfcfc;
            }
        }
    }
}
.tb-payoutmode{
    display: flex;
    align-items: center;
    margin: 0 0 0 15px;
    span{
        display: inline-block;
        margin: 0 0 0 10px ;
        font: 600 rem(14)/em(24,14) $heading-font-family;
        color: #999;
    }
}
.tb-paymetdesc{
    padding-top: 13px;
    p{
        color: #999;
        margin:0;
        em{
            display: block;
            > span{
                display: block;
                > span{
                    display: inline-block;
                    color: #ddd;
                    font-style: normal;
                    padding: 0 5px;
                }
            }
        }
    }
    a{display: inline-block;}
}
.tb-norecordsv2{
    padding: 122px 0 118px;
    background-color: #fff;
    border-radius: 0 0 $radius $radius;
    @extend %border;
    .tb-sectiontitle{
        padding-top: 38px;
        h2 {
            font-size: rem(22);
            line-height: em(30,22);
            width: 80%;
        }
    }
}
.tb-wininginfo{
    em{
        color: $body-font-color;
        display: block;
        font: 400 rem(14)/em(18,14) $heading-font-family;
    }
    i{
        font: 700 rem(16)/em(20,16) $heading-font-family;
        display: block;
        color: $heading-font-color;
        margin: 0;
    }
}
.tb-radio{
    .tb-wininginfomain{
        img{margin-left: 20px;}
    }
}
.tb-wininginfomain{
    display: flex;
    align-items: flex-start;
    img{
        width: 40px;
        margin: 0 10px;
        border-radius: $radius;
    }
}
.tb-radiodispute{
    background: #fcfcfc;
    border-radius: 4px;
    padding: 20px;
    .payoutlists{
        padding: 0;
        > figure{
            margin: 0 10px 0 auto;
        }
    }
}
.tb-disputeradiotitle{
    .tb-titleinput{
        margin:  0 0 5px;
    }
}

.tb-priorityradiov2{
    @extend %flex;
    align-items: center;
    padding:10px  20px;
    margin: 0;
    justify-content: space-between;
    background: #fcfcfc;
    margin: 0px -5px;
    & .tb-radiobox{
        width: 50%;
        padding: 5px;
        .tb-radiodispute{
            padding: 0;
        }
        & + .tb-radiobox{
            margin: 0; 
        }  
    }
}
.tb-dbtnarea-row{
    flex-wrap: nowrap;
    margin-top:10px;
    em{
        padding: 0 0 0 20px;
        align-self: center;
    }
}
.tb-table > tbody > tr td:last-child{
    text-align: left;
}
.tb-conversationholder{
    padding: 25px 29px 29px;
    margin-top: 30px;
    @extend %themeboxshadowvtwo;
}
.tb-conversation{
    li{
        list-style: none;
        ~ li{padding-top: 20px;}
        &:last-child{padding-top: 10px;}
    }
    &__content{
        padding: 19px;
        background-color: $bg-light;
        @extend %border;
        border-radius: $radius;
        ~ .tb-conversation__content{margin: 10px 0 0 30px}
    }
    &__header{
        @extend %flex;
        align-items: center;
        > figure{
            margin: 0 10px 0 0;
            @extend %flex;
            align-items: center;
            justify-content: center;
            border-radius: $radius;
            background-color: #fff;
            width: 40px;
            height: 40px;
            @extend %border;
        }
        > img{
            border-radius: $radius;
            margin-right: 10px;
        }
        > .tb-btn{
            margin-left: auto;
            min-width: 90px;
            height: 40px;
        }
    }
    &__title{
        span{
            display: block;
            font: 400 0.875rem/1.2857142857em "Overpass", sans-serif;
        }
        h5{
            margin: 0;
        }
    }
    &__detail{
        padding: 22px 0 0 50px;
        > p{
            font-size: rem(16);
            line-height: em(26,16);
            margin: 0;
            &:last-child{margin-bottom: -7px;}
        }
        > a{
            word-break: break-all;
            display: block;
            font-size: rem(16);
            line-height: em(26,16);
            margin-top: 18px;
        }
    }
    &__footer{
        padding-top: 20px;
        margin-bottom: -5px;
        font-size: rem(16);
        line-height: em(22,16);
        span{display: block;}
    }
}
.tb-disputereply{
    padding-top: 28px;
    h5{margin-bottom: 4px;}
}
.tb-disputebtn{
    @extend %flex;
    align-items: center;
    padding-top: 10px;
    .tb-btn{margin-right: 20px;}
    em{color: #999;}
}
.tb-payoutmethodvtwo{
    .tb-packages {
        .tb-radio{
            label::after {
               top: 12px;
               left: -2px;
           }
        }
    }
}
.tb-resolved{
    .tb-payoutmethod{margin: 0;}
    .tb-wininginfomain{
        img{margin: 0 10px;}
    } 
    .payoutlists{
        justify-content: space-between;
        cursor: unset;
        > figure{margin: 0;}
    }
    .tb-greencheck{
        display: flex;
        align-items: center;
        span{
            font-size: 16px;
            color: #fff;
            height: 50px;
            width: 50px;
            border-radius: 4px;
            background: #63d594;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.tb-resolved{
    border: 1px solid #63d594;
    border-radius: 4px;
    .tb-radiodispute{
        background: rgb(99, 213, 148 , 0.1);
        padding: 14px;
    }
} 
.tb-email-verifiedbtn,
.tb-verifiedbtn{
    gap: 5px;
    color: $white;
    min-height: 31px;
    border-radius: 44px;
    display: inline-flex;
    position: relative;
    padding: 8.5px 12px;
    align-items: center;
    justify-content: center;
    background-color: #3377FF;
    font: 700 rem(12)/em(14,12) $heading-font-family;
    i{
        font-size: 17px;
        display: block;
    }
    &:hover{
        color: $white;
    }
    &::after{
        top: 5px;
        left: 19px;
        width: 13px;
        height: 12px;
        font-size: 9px;
        content: "\e92b";
        border-radius: 50%;
        position: absolute;
        background: #3377ff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: "icomoon" !important;
    }
    &[disabled]{
        color: $light;
        background: $lightest;
        &::after{
            display: none;
        }
    }
}
.tb-verifiedbtn{
    background-color: #6366F1;
    &::after{
        background: #6366F1;
    }
}
.tb-db-categoriestable{
    .tb-table > tbody > tr td .tb-checkbox label span{line-height: 26px;}
    .tb-table > tbody > tr td:first-child{vertical-align: top;}
}
.tb-proposalslist{
    thead th i{
        font-size: 14px;
        color: #999999;
        margin-left: 10px;
    }
    .tk-proposal-title{
        max-width: 500px;
        a{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}
.tb-dballgigs{
    .tb-table{
        h6{
            margin: 0;
            gap: 0 4px;
            display: flex;
            flex-wrap: wrap;
            max-width: 300px;
            align-items: center;
            font: 400 rem(15)/em(24, 15) $body-font-family;

            a{
                &:not(:last-child):after{
                    content: ',';
                    margin-left: -2px;
                    color: $body-font-color;
                    font: 400 rem(20)/em(20,20) $body-font-family;
                }
            }
        }
    }
}