@media (max-width: 1680px){
    .at-openmenu .at-pagebuilder-right,
    .at-pagebuilder-right {
        padding: 40px 0 0;
    }
    .at-openmenu .at-asidenav {
        transform: translateX(-100%);
    }
    .at-asidenav {
        transform: translateX(0);
    }
}
@media (max-width: 1199px){
    .tb-navbarnav{
        border: 1px solid #ddd;
        border-top: 0;
    }
}
@media (max-width: 480px){
    .at-drophere-selected{
        margin: 6px 4px;
    }
}