
.tk-skeleton{
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.tk-services-skeleton{
    padding: 0;
    display:flex;
    margin: -12px;
    justify-content: center;
    li{
        width: 100%;
        padding: 12px;
        list-style: none;
        max-width: 306px;
        figure{
            margin: 0;
            width: 286px;
            height: 170px;
            border-radius: $radius;
        }
         .tk-content-area{
            margin-top: 15px;
             > span{
                 height: 16px;
                 display: block;
                + span{
                    margin-top: 15px;
                }
            }
        }
    }
}
.tk-skeletonarea{
    background: $white;
    border-radius: $radius;
    padding: 9px 9px 27px 9px;
    border: 1px solid $border-color;  
}
.tk-skele{
    animation: tk-skeleton-effect 1.5s infinite ease-out;
    background: $skeleton-color;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(242, 242, 242, 0.5)), color-stop(18%, rgba(242, 242, 242, 0.4)), color-stop(33%, rgba(242, 242, 242, 0.3)));
    background: linear-gradient(to right, rgba(242, 242, 242, 1) 8%, rgba(242, 242, 242, 0.9) 18%, rgba(242, 242, 242, 0.8) 33%);
    background-size: 800px 100px;
    color: transparent;
    animation: tk-skeleton-animation 1.5s infinite ease-out;
}
.tk-skeleton-title{
    width: 100%;
    max-width: 68%;
}
.tk-skeleton-description{
    width: 100%;
}
.tk-skeleton-para{
    width: 100%;
    max-width: 61%;
}
.tk-skeleton-user{
    gap: 15px;
    display: flex;
    margin-top: 15px;
    align-items: center;
    & + .tk-skeleton-user{
        margin-top: 15px;
    }
    span{
        display: block;
        height: 16px;
    }
    ~ span{
        margin-top: 15px;
    }
}
.tk-user{
    width: 100%;
    max-width: 255px;
}
.tk-user-icon{
    width: 100%;
    max-width: 5.599%;
}
.tk-services-skeletonvtwo{
    li{
        width: 100%;
        max-width: 416px;
         figure{
            width: 396px;
            height: 200px;
        }
    }
    .tk-skeletonarea{
        padding: 9px 9px 30px 9px;
    }
}
.tk-skeleton-paravtwo{
    width: 100%;
    max-width: 61.12%;
}
.tk-frame{
    padding: 0;
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 966px;
    flex-direction: column;
    transition: all 2s ease-out;
    li{
        width: 100%;
        list-style: none;
        .tk-frame-items{
            padding: 30px;
            border-radius: $radius;
            span{
                display: block;
                height: 16px;
            }
            & + .tk-frame-items{
                padding: 39px 30px;
            }
            &:hover{
                background: $bd-color;
            }
        }
        .tk-skeleton-title {
            width: 100%;
            max-width: 21.42%;
        }
    }
}
.tk-reviews{
    width: 100%;
    max-width: 81%;
}
.tk-frame-list{
    gap: 10px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    .tk-skeleton-user{
        width: 100%;
        margin-top: 0;
        max-width: 17.7%;
    }
    .tk-user-icon{
        width: 100%;
        max-width: 10%;
    }
    ~ span{
        margin-top: 20px;
    }
}
.tk-frame-para{
    width: 100%;
    max-width: 56.41%;
}
.tk-review{
    width: 100%;
    max-width: 47.5%;
}
.tk-imgarea{
    gap: 15px;
    width: 100%;
    display: flex;
    max-width: 36.45%;
    align-items: center;
    figure{
        margin: 0;
        flex: none;
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }
    ~ span{
        margin-top: 20px;
    }
}
.tk-img-deatil{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tk-title{
    display: flex;
    align-items: center;
    gap: 15px;
    ~ span{
        margin-top: 15px;
    }
}
@keyframes tk-skeleton-animation {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}