$theme-color: #0075d6;
$primary-color:#FCCF14;
$secondary-color: #fecd00;
$heading-font-family: 'Urbanist',sans-serif;
$body-font-family: "Open Sans",sans-serif;
$heading-font-color:#0A0F26;
$btnhover-color: #000;
$body-font-color:#676767;
$border-color:#eee;
$radius: 4px;
$anchor-color:#55acee;
$clr-white:#fff;
$text-light:#999;
$bg-light: #fcfcfc;
$white: #fff;
$light-gray:#484848;


// Pages color variables
$dark: #0A0F26;
$light: #999999;
$lighter: #DDDDDD;
$lightest_2: #eeeeee;
$lightest_3: #F7F8FC;
$lightest: #F7F7F7;
$white: #ffffff;
$red: #EF4444;
$orange: #F97316;
$pale_yellow: #EAB308;
$bright_green: #22C55E;
$dark_aqua: #06B6D4;
$blazing_purple: #6366F1;
$dull_magenta: #D946EF;
$decent_grey: #64748B;
$dark_black: #000000;
$charcoal_black: #1C1C1C;
$hyperlink: #1DA1F2;