@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Open+Sans:ital@0;1&family=Urbanist:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@keyframes tb-ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(15deg);
  }
  3% {
    transform: rotate(-14deg);
  }
  5% {
    transform: rotate(17deg);
  }
  7% {
    transform: rotate(-16deg);
  }
  9% {
    transform: rotate(15deg);
  }
  11% {
    transform: rotate(-14deg);
  }
  13% {
    transform: rotate(13deg);
  }
  15% {
    transform: rotate(-12deg);
  }
  17% {
    transform: rotate(11deg);
  }
  19% {
    transform: rotate(-10deg);
  }
  21% {
    transform: rotate(9deg);
  }
  23% {
    transform: rotate(-8deg);
  }
  25% {
    transform: rotate(7deg);
  }
  27% {
    transform: rotate(-6deg);
  }
  29% {
    transform: rotate(5deg);
  }
  31% {
    transform: rotate(-4deg);
  }
  33% {
    transform: rotate(3deg);
  }
  35% {
    transform: rotate(-2deg);
  }
  37% {
    transform: rotate(1deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  margin-bottom: 0;
}

li {
  display: list-item;
  line-height: 28px;
  list-style: none;
}

ul ul {
  margin-left: 20px;
}

ol {
  float: none;
  list-style: decimal;
  padding-left: 15px;
}
ol li {
  list-style: decimal;
  width: 100%;
}

ol ol {
  margin-left: 20px;
}

figure {
  margin-bottom: 6px;
  position: relative;
}

a,
a:hover {
  text-decoration: none;
  color: #1DA1F2;
  outline: none;
}

p {
  margin: 0 0 20px;
  letter-spacing: normal;
  line-height: 1.625em;
}

img {
  height: auto;
  max-width: 100%;
}

iframe {
  border: none;
}

.wp-caption.alignnone {
  width: 100%;
}

button {
  border: none;
}

table {
  background-color: transparent;
  max-width: 100%;
  width: 100%;
  margin-bottom: 15px;
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
  border-top: 1px solid #DDDDDD;
  border: 1px solid #DDDDDD;
  line-height: 2.5;
  padding-left: 3px;
  text-align: center;
  vertical-align: top;
}
table thead tr th {
  border-top: 1px solid #DDDDDD;
  text-align: center;
  text-transform: capitalize;
}
table > thead > tr > th {
  border-bottom: 2px solid #DDDDDD;
  vertical-align: bottom;
}

th {
  text-align: left;
}

.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 1px solid #DDDDDD;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-bottom: 0;
}

table > tbody + tbody {
  border-top: 2px solid #DDDDDD;
}

.table thead tr th,
.table tbody tr th,
.table tfoot tr th,
.table thead tr td,
.table tbody tr td,
.table tfoot tr td {
  padding: 6px 10px;
}

p ins {
  color: #0A0F26;
}

dl dd {
  margin-left: 20px;
}

address {
  font-style: italic;
}

.theme-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1710px;
}

.preloader-outer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  background: #fff;
}

.tk-preloader {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 20px 32px rgba(0, 0, 0, 0.12);
  animation: load3 0.8s infinite linear;
  -webkit-animation: load3 0.5s infinite linear;
}
.tk-preloader img {
  width: 20px;
  height: 20px;
}

.tk-socialmedia {
  font-size: 13px;
  justify-content: center;
}
.tk-socialmedia li:nth-last-child(n+2) {
  margin-right: 10px;
}
.tk-socialmedia a {
  display: inline-block;
}

.tk-facebook > i,
.tk-facebook > a {
  color: #3b5999;
}

.tk-facebook-messenger > a,
.tk-facebook-messenger > i {
  color: #0084ff;
}

.tk-twitter > a,
.tk-twitter > i {
  color: #55acee;
}

.tk-twitch > a,
.tk-twitch > i {
  color: #9147ff;
}

.tk-linkedin > a,
.tk-linkedin > i {
  color: #0077b5;
}

.tk-skype > a,
.tk-skype > i {
  color: #00aff0;
}

.tk-dropbox > a,
.tk-dropbox > i {
  color: #007ee5;
}

.tk-vimeo > a,
.tk-vimeo > i {
  color: #1ab7ea;
}

.tk-tumblr > i,
.tk-tumblr > a {
  color: #34465d;
}

.tk-yahoo > a,
.tk-yahoo > i {
  color: #410093;
}

.tk-googleplus > a,
.tk-googleplus > i,
.tk-google > a,
.tk-google > i {
  color: #dd4b39;
}

.tk-pinterestp > a,
.tk-pinterestp > i {
  color: #bd081c;
}

.tk-youtube > a,
.tk-youtube > i {
  color: #cd201f;
}

.tk-stumbleupon > a,
.tk-stumbleupon > i {
  color: #eb4924;
}

.tk-reddit > a,
.tk-reddit > i {
  color: #ff5700;
}

.tk-quora > a,
.tk-quora > i {
  color: #b92b27;
}

.tk-yelp > a,
.tk-yelp > i {
  color: #af0606;
}

.tk-soundcloud > a,
.tk-soundcloud > i {
  color: #f30;
}

.tk-whatsapp > a,
.tk-whatsapp > i {
  color: #25d366;
}

.tk-wechat > a,
.tk-wechat > i {
  color: #09b83e;
}

.tk-instagram > a,
.tk-instagram > i {
  color: #e4405f;
}

.tk-dribbble > a,
.tk-dribbble > i {
  color: #ea4c89;
}

.tk-flickr > a,
.tk-flickr > i {
  color: #ff0084;
}

.tk-rss > a,
.tk-rss > i {
  color: #f60;
}

.tk-behance > a,
.tk-behance > i {
  color: #131418;
}

.tk-foursquare > a,
.tk-foursquare > i {
  color: #f94877;
}

.tk-facebookv2:hover i {
  color: #1877f2;
}

.tk-twitterv2:hover i {
  color: rgb(29, 155, 240);
}

.tk-twitchv2:hover i {
  color: #9147ff;
}

.tk-linkedinv2:hover i {
  color: #0a66c2;
}

.tk-dribbblev2:hover i {
  color: #ea4c89;
}

.tk-youtubev2:hover i {
  color: #cd201f;
}

.tk-behancev2:hover i {
  color: #131418;
}

.tk-vimeov2:hover i {
  color: #1ab7ea;
}

body {
  color: #0A0F26;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 8px;
  letter-spacing: 0.5px;
  color: #0A0F26;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #0A0F26;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #0A0F26;
}

.at-aligntext-style li a, .at-dargsection-toltip, .at-components-holder:after, .at-components-holder, .at-nav-tabs:after, .at-nav-tabs, .at-btns-holder li a, .at-close, .at-widget-template_list li figure svg, .at-addfolder-btn label, .at-addsection-btn, .at-drophere-preview, .at-pagebuilder-right, .select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-results__option, .at-btn-line, .at-btn-line-lg, .at-btn-line-sm,
.at-btn,
.at-btn-lg,
.at-btn-sm, .tk-socialmedia a, .tk-facebookv2 i, .tk-twitterv2 i, .tk-twitchv2 i, .tk-linkedinv2 i, .tk-dribbblev2 i, .tk-youtubev2 i, .tk-behancev2 i, .tk-vimeov2 i {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.at-style-component, .at-widget-component, .at-component-list, .at-widget-template_list, .at-addfolder-btn label, .at-addsection-btn, .at-widget-btn, .select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__rendered, .select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple, .at-select, .at-calendar, .form-group, .form-group-wrap, .at-themeform__wrap, .tk-socialmedia {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

h1 {
  font: 700 3.25rem/1.1153846154em "Urbanist", sans-serif;
}

h2 {
  font: 700 2.25rem/1.2777777778em "Urbanist", sans-serif;
}

h3 {
  font: 700 1.75rem/1.3571428571em "Urbanist", sans-serif;
}

h4 {
  font: 700 1.375rem/1.3636363636em "Urbanist", sans-serif;
}

h5 {
  font: 700 1.125rem/1.4444444444em "Urbanist", sans-serif;
}

.at-actionselect > span, .select2-results__option[aria-selected], h6 {
  font: 700 1rem/1.625em "Urbanist", sans-serif;
}

.form-check-label span, body {
  font: 400 1rem/1.625em "Open Sans", sans-serif;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder, .select2-container--default .select2-search--inline .select2-search__field::placeholder, .select2-container--default .select2-search--inline .select2-search__field, select[required] + .select2 .select2-selection--multiple .select2-search.select2-search--inline::after,
select[required] + .select2 .select2-selection__placeholder::after, .select2-container .select2-selection--single .select2-selection__rendered, .at-placeholder {
  font: 400 0.9375rem/1.6em "Open Sans", sans-serif;
}

.at-pagebuilder-title em, .form-control::placeholder,
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder,
input[type=date]::placeholder,
input[type=month]::placeholder,
input[type=time]::placeholder,
input[type=week]::placeholder,
input[type=number]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=color]::placeholder,
select::placeholder,
.uneditable-input::placeholder,
textarea::placeholder, .form-control,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
select,
.uneditable-input,
textarea {
  font: 400 0.8125rem/1.6923076923em "Open Sans", sans-serif;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  font: 700 0.75rem/2em "Urbanist", sans-serif;
  letter-spacing: 0.5px;
}

.at-btn-line, .at-btn-line-lg, .at-btn-line-sm,
.at-btn,
.at-btn-lg,
.at-btn-sm {
  letter-spacing: 0.5px;
  font: 500 0.875rem/1.7142857143em "Urbanist", sans-serif;
}

.at-designed-content_title span {
  letter-spacing: 0.5px;
  font: 500 0.8125rem/1.5384615385em "Urbanist", sans-serif;
}

.at-btn-line, .at-btn-line-lg, .at-btn-line-sm,
.at-btn,
.at-btn-lg,
.at-btn-sm {
  height: 42px;
  gap: 0 10px;
  color: #ffffff;
  padding: 0 24px;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #22C55E;
  border-radius: 4px;
}
.at-btn-line i, .at-btn-line-lg i, .at-btn-line-sm i,
.at-btn i,
.at-btn-lg i,
.at-btn-sm i {
  color: #ffffff;
  font-size: 20px;
}
.at-btn-line[disable], [disable].at-btn-line-lg, [disable].at-btn-line-sm,
.at-btn[disable],
[disable].at-btn-lg,
[disable].at-btn-sm {
  pointer-events: none;
  color: #999999 !important;
  border-color: #DDDDDD !important;
  background-color: #DDDDDD !important;
}
.at-btn-line[disable] i, [disable].at-btn-line-lg i, [disable].at-btn-line-sm i,
.at-btn[disable] i,
[disable].at-btn-lg i,
[disable].at-btn-sm i {
  color: #999999;
}
.at-btn-line:hover, .at-btn-line-lg:hover, .at-btn-line-sm:hover, .at-btn-line:focus, .at-btn-line-lg:focus, .at-btn-line-sm:focus,
.at-btn:hover,
.at-btn-lg:hover,
.at-btn-sm:hover,
.at-btn:focus,
.at-btn-lg:focus,
.at-btn-sm:focus {
  outline: none;
  color: #ffffff;
  background-color: #22C55E;
}

.at-btn-line-sm {
  height: 34px;
}

.at-btn-line-lg {
  height: 48px;
}

.at-btn-sm {
  height: 34px;
}

.at-btn-lg {
  height: 48px;
}

.at-btn-line, .at-btn-line-sm, .at-btn-line-lg {
  color: #DDDDDD;
  text-align: center;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #999999;
}
.at-btn-line:hover, .at-btn-line-sm:hover, .at-btn-line-lg:hover, .at-btn-line:focus, .at-btn-line-sm:focus, .at-btn-line-lg:focus {
  color: #DDDDDD;
  background: transparent;
}

.at-themeform fieldset {
  margin: -10px;
}
.at-themeform__btn {
  margin-top: 10px;
}

.form-group {
  position: relative;
  width: 100%;
  padding: 10px;
  align-items: center;
  margin-bottom: 0;
}
.form-group .at-popupbtnarea {
  padding-top: 10px;
}
.form-group:first-child .at-form__section {
  margin-top: -5px;
  padding: 0;
}
.form-group:last-child {
  margin-bottom: 0;
}

.form-group-half {
  width: 50%;
}

.form-group-3half {
  width: 33.3333333333%;
}

.form-control,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
select,
.uneditable-input,
textarea {
  color: #0A0F26;
  height: 46px;
  padding: 0 20px;
  caret-color: #0A0F26;
  background-clip: unset;
  border-radius: 4px;
  border: 1.5px solid #eeeeee;
}
.form-control::placeholder,
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder,
input[type=date]::placeholder,
input[type=month]::placeholder,
input[type=time]::placeholder,
input[type=week]::placeholder,
input[type=number]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=color]::placeholder,
select::placeholder,
.uneditable-input::placeholder,
textarea::placeholder {
  color: #999999;
}
.form-control.is-invalid,
input[type=text].is-invalid,
input[type=password].is-invalid,
input[type=datetime].is-invalid,
input[type=datetime-local].is-invalid,
input[type=date].is-invalid,
input[type=month].is-invalid,
input[type=time].is-invalid,
input[type=week].is-invalid,
input[type=number].is-invalid,
input[type=email].is-invalid,
input[type=url].is-invalid,
input[type=search].is-invalid,
input[type=tel].is-invalid,
input[type=color].is-invalid,
select.is-invalid,
.uneditable-input.is-invalid,
textarea.is-invalid {
  border-color: #EF4444;
}
.form-control.is-invalid:nth-child(n),
input[type=text].is-invalid:nth-child(n),
input[type=password].is-invalid:nth-child(n),
input[type=datetime].is-invalid:nth-child(n),
input[type=datetime-local].is-invalid:nth-child(n),
input[type=date].is-invalid:nth-child(n),
input[type=month].is-invalid:nth-child(n),
input[type=time].is-invalid:nth-child(n),
input[type=week].is-invalid:nth-child(n),
input[type=number].is-invalid:nth-child(n),
input[type=email].is-invalid:nth-child(n),
input[type=url].is-invalid:nth-child(n),
input[type=search].is-invalid:nth-child(n),
input[type=tel].is-invalid:nth-child(n),
input[type=color].is-invalid:nth-child(n),
select.is-invalid:nth-child(n),
.uneditable-input.is-invalid:nth-child(n),
textarea.is-invalid:nth-child(n) {
  color: #EF4444;
}
.form-control.is-valid,
input[type=text].is-valid,
input[type=password].is-valid,
input[type=datetime].is-valid,
input[type=datetime-local].is-valid,
input[type=date].is-valid,
input[type=month].is-valid,
input[type=time].is-valid,
input[type=week].is-valid,
input[type=number].is-valid,
input[type=email].is-valid,
input[type=url].is-valid,
input[type=search].is-valid,
input[type=tel].is-valid,
input[type=color].is-valid,
select.is-valid,
.uneditable-input.is-valid,
textarea.is-valid {
  border-color: #22C55E;
}
.form-control.is-valid:nth-child(n),
input[type=text].is-valid:nth-child(n),
input[type=password].is-valid:nth-child(n),
input[type=datetime].is-valid:nth-child(n),
input[type=datetime-local].is-valid:nth-child(n),
input[type=date].is-valid:nth-child(n),
input[type=month].is-valid:nth-child(n),
input[type=time].is-valid:nth-child(n),
input[type=week].is-valid:nth-child(n),
input[type=number].is-valid:nth-child(n),
input[type=email].is-valid:nth-child(n),
input[type=url].is-valid:nth-child(n),
input[type=search].is-valid:nth-child(n),
input[type=tel].is-valid:nth-child(n),
input[type=color].is-valid:nth-child(n),
select.is-valid:nth-child(n),
.uneditable-input.is-valid:nth-child(n),
textarea.is-valid:nth-child(n) {
  color: #22C55E;
}
.form-control[disable],
input[type=text][disable],
input[type=password][disable],
input[type=datetime][disable],
input[type=datetime-local][disable],
input[type=date][disable],
input[type=month][disable],
input[type=time][disable],
input[type=week][disable],
input[type=number][disable],
input[type=email][disable],
input[type=url][disable],
input[type=search][disable],
input[type=tel][disable],
input[type=color][disable],
select[disable],
.uneditable-input[disable],
textarea[disable] {
  pointer-events: none;
}
.form-control[disable]:nth-child(n),
input[type=text][disable]:nth-child(n),
input[type=password][disable]:nth-child(n),
input[type=datetime][disable]:nth-child(n),
input[type=datetime-local][disable]:nth-child(n),
input[type=date][disable]:nth-child(n),
input[type=month][disable]:nth-child(n),
input[type=time][disable]:nth-child(n),
input[type=week][disable]:nth-child(n),
input[type=number][disable]:nth-child(n),
input[type=email][disable]:nth-child(n),
input[type=url][disable]:nth-child(n),
input[type=search][disable]:nth-child(n),
input[type=tel][disable]:nth-child(n),
input[type=color][disable]:nth-child(n),
select[disable]:nth-child(n),
.uneditable-input[disable]:nth-child(n),
textarea[disable]:nth-child(n) {
  color: #999999;
}
.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus,
select:focus,
.uneditable-input:focus,
textarea:focus {
  border-color: #DDDDDD;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
}

.form-control-sm {
  height: 40px;
}

textarea.form-control {
  resize: none;
  height: 150px;
  padding-top: 12px;
}

.at-select, .at-calendar {
  align-items: center;
  position: relative;
  width: 100%;
}
.at-select:before, .at-calendar:before {
  content: "\e92e";
  font-family: icomoon;
  right: 16px;
  z-index: 1;
  position: absolute;
  font-size: 18px;
  line-height: 1;
  pointer-events: none;
  color: #999999;
}
.at-select select, .at-calendar select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 40px;
  width: 100%;
}
.at-select select:focus, .at-calendar select:focus {
  outline: 0;
}
.at-select .form-control, .at-calendar .form-control {
  padding-right: 50px;
}

.at-calendar:before {
  content: "\e927";
}

label {
  color: #0A0F26;
  display: block;
  margin-bottom: 10px;
}

.at-label {
  font-weight: 600;
  font: 600 0.875rem/1.7142857143em "Urbanist", sans-serif;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f7f7f7;
}

/* Theme Custom CheckBox Radio */
.at-form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.form-check-label {
  margin-bottom: 0;
  padding-left: 10px;
  cursor: pointer;
}
.form-check-label span {
  color: #999999;
}

.form-check-input {
  margin-top: 0;
  border: 1.5px solid #DDDDDD;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  width: 24px;
  height: 24px;
}
.form-check-input[type=checkbox] {
  border-radius: 4px;
}
.form-check-input[type=radio] {
  background-color: #F7F7F7;
}
.form-check-input::after {
  content: "";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffffff;
  font-size: 14px;
}
.form-check-input:active {
  filter: none;
}
.form-check-input:focus {
  border-color: #DDDDDD;
  box-shadow: none;
}
.form-check-input:checked {
  border-color: #22C55E;
}
.form-check-input:checked[type=checkbox] {
  background-image: none;
  background-color: #22C55E;
}
.form-check-input:checked[type=checkbox]::after {
  content: "\f00c";
}
.form-check-input:checked[type=radio] {
  background-image: none;
  background-color: #22C55E;
}
.form-check-input:checked[type=radio]::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
}

.at-form-check-input-sm {
  width: 20px;
  height: 20px;
}
.at-form-check-input-sm::after {
  font-size: 10px;
}
.at-form-check-input-sm:checked[type=radio]::after {
  width: 10px;
  height: 10px;
}

.at-placeholderholder {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}
.at-placeholderholder [required] + .at-placeholder em {
  display: inline;
}
.at-placeholderholder textarea + .at-placeholder {
  top: 12px;
  white-space: normal;
  left: 21px;
}

.at-placeholder {
  position: absolute;
  left: 21px;
  white-space: nowrap;
  pointer-events: none;
}
.at-placeholder span {
  color: #999999;
}
.at-placeholder em {
  font-style: normal;
  color: #EF4444;
  display: none;
}

.mCSB_scrollTools .mCSB_draggerContainer {
  width: 3px;
  border-radius: 60px;
  background-color: #F7F7F7;
  left: auto;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #22C55E !important;
  width: 3px;
  border-radius: 60px;
  margin: 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
  margin: 0;
  background: transparent;
  width: 6px;
}

.mCSB_inside > .mCSB_container {
  margin-right: 20px;
  padding: 0;
}

.mCSB_scrollTools {
  opacity: 1;
}

.select2-container--open .select2-dropdown--below,
.select2-dropdown {
  border: 0;
  background: #fff;
}

.select2-search--dropdown {
  padding: 0;
  margin: 0 0 10px;
  position: relative;
  z-index: 1052;
}
.select2-search--dropdown::after {
  position: absolute;
  content: "\e9d0";
  font-family: "icomoon" !important;
  left: 20px;
  top: 11px;
  font-size: 19px;
  color: #DDDDDD;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #eeeeee;
  outline: none;
  height: 48px;
  padding: 0 40px 0 53px;
}

.select2-container--open .select2-dropdown--below {
  padding: 10px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background: transparent;
}

.select2-results__option[aria-selected] {
  padding: 17px 15px;
  line-height: 22px;
  color: #0A0F26;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: #0A0F26;
  background-color: #f7f7f7;
}

.select2-selection__arrow {
  display: none;
}

.select2-container--default .select2-selection--single {
  height: auto;
  color: #0A0F26;
  border: 1px solid #eeeeee;
  cursor: pointer;
}
.select2-container--default .select2-selection--single:focus {
  outline: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #999999;
  line-height: 50px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 20px;
  color: #0A0F26;
}

.select2-container--default .select2-selection--multiple {
  border: 1.5px solid #eeeeee;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-dropdown--above {
  -webkit-box-shadow: 0 10px 30px 0 rgba(18, 54, 82, 0.2);
  box-shadow: 0 10px 30px 0 rgba(18, 54, 82, 0.2);
  border: 0;
  background: #fff;
  border-radius: 6px;
  margin-top: -10px;
  padding: 10px;
}

.select2-results__option {
  list-style: none;
}

select[required] + .select2 .select2-selection--multiple .select2-search.select2-search--inline::after,
select[required] + .select2 .select2-selection__placeholder::after {
  content: " *";
  color: #EF4444;
}
select[required] + .select2 .select2-selection--multiple .select2-search.select2-search--inline::after {
  content: "*";
  margin-left: -10px;
}
select[required] + .select2 .select2-selection__choice + .select2-search.select2-search--inline::after {
  content: none;
}

.select2-dropdown {
  z-index: 1055;
}

[aria-multiselectable=true] .select2-results__option {
  position: relative;
  display: flex;
  align-items: center;
}
[aria-multiselectable=true] .select2-results__option[role=alert] {
  padding-left: 0;
}
[aria-multiselectable=true] .select2-results__option[role=alert]:before {
  display: none;
}
[aria-multiselectable=true] .select2-results__option:before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1.5px solid #DDDDDD;
  margin-right: 10px;
  border-radius: 4px;
}
[aria-multiselectable=true] .select2-results__option[aria-selected=true]:before {
  content: "\e92b";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #22C55E;
  border-color: #22C55E;
  font-size: 14px;
  font-family: "icomoon";
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  min-height: initial;
  border-radius: 4px;
  padding-bottom: 5px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #eee;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  position: relative;
  align-items: center;
  padding: 0 40px 0 20px;
  height: inherit;
}

.select2-container--default .select2-search--inline .select2-search__field {
  caret-color: #1C1C1C;
  color: #1C1C1C;
  height: 36px;
  width: auto !important;
}
.select2-container--default .select2-search--inline .select2-search__field::placeholder {
  color: #999999;
  opacity: 1;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  color: #3377FF;
  position: absolute;
  right: 35px;
  top: 0;
  display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  align-items: center;
  border-color: #eee;
  padding: 2.5px 12px;
  background-color: #f7f7f7;
  margin-right: 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice:hover {
  background: transparent;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice span {
  font-size: 16px;
  display: inline-block;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #1C1C1C;
  margin-left: 9px;
  order: 2;
}

.select2-container,
.select2-container .select2-search--inline {
  flex: auto;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  display: none;
}

.bootstrap-select .dropdown-menu li {
  list-style: none;
}

.at-actionselect {
  display: flex;
  align-items: center;
}
.at-actionselect .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 48px;
}
.at-actionselect > span {
  color: #0A0F26;
  flex: none;
  padding-right: 20px;
}
.at-actionselect .form-control {
  font-size: 14px;
  color: #999999;
  height: 44px;
}

.form-vertical {
  flex-direction: column;
  margin: 0;
  align-items: initial;
}
.form-vertical .at-titleinput {
  align-self: initial;
}
.form-vertical:first-child .at-titleinput {
  padding-top: 0;
  margin-top: -3px;
}
.form-vertical.form-group-half .at-titleinput, .form-vertical.form-group-3half .at-titleinput {
  padding-top: 7px;
  margin-top: 0;
}
.form-vertical .at-titleinput {
  flex: none;
  margin: 0 0 5px;
  padding-top: 7px;
}

.lightpick__day.is-end-date.is-in-range.is-flipped,
.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range.is-flipped {
  background-color: #FCCF14;
}

.lightpick__day.is-in-range,
.lightpick__day.is-today {
  position: relative;
  z-index: 0;
}
.lightpick__day.is-in-range:before,
.lightpick__day.is-today:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #FCCF14;
  visibility: hidden;
  z-index: -1;
}
.lightpick__day.is-in-range:hover,
.lightpick__day.is-today:hover {
  background-image: none;
  color: #fff;
}
.lightpick__day.is-in-range:hover:before,
.lightpick__day.is-today:hover:before {
  visibility: visible;
}

.lightpick__day.is-today {
  color: #ff7062;
}

.lightpick__day.is-in-range {
  background-color: rgba(252, 207, 20, 0.1);
  width: 48px;
  height: 48px;
  font-weight: 700;
}

.lightpick__day-of-the-week {
  font-family: "Urbanist", sans-serif;
  color: #0A0F26;
}

.lightpick__month-title > .lightpick__select {
  height: auto;
  padding: 0;
  font-family: "Urbanist", sans-serif;
  color: #0A0F26;
}

.lightpick__days-of-the-week {
  margin: 0 0 15px;
}

.lightpick__month {
  padding: 14px 14px 0;
  width: 382px;
  background-color: #fff;
}

.lightpick__month-title-bar {
  display: flex;
  margin-bottom: 53px;
}

.lightpick__day.is-end-date.is-in-range, .lightpick__day.is-start-date.is-in-range {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.lightpick__days {
  padding: 10px;
  border-top: 1px solid #eee;
}

.lightpick__day {
  width: 48px;
  height: 48px;
  font-size: 0.9375rem;
  font-weight: 600;
  font-family: "Urbanist", sans-serif;
}

.lightpick__day.is-end-date,
.lightpick__day.is-end-date:hover,
.lightpick__day.is-start-date,
.lightpick__day.is-start-date:hover {
  background-image: none;
  background-color: #FCCF14;
  border-radius: 50%;
}

.is-previous-month {
  color: #A0A0A0;
}

.lightpick__month-title {
  position: absolute;
  left: 88px;
  top: 30px;
  padding: 0;
  margin: 0;
}

.lightpick__toolbar {
  position: absolute;
  width: 100%;
}
.lightpick__toolbar .lightpick__previous-action, .lightpick__toolbar .lightpick__next-action {
  width: 48px;
  height: 48px;
}
.lightpick__toolbar .lightpick__previous-action {
  left: 0;
  top: 0;
  margin: 0;
  background: transparent;
  border: 1px solid #DDDDDD;
  position: absolute;
}
.lightpick__toolbar .lightpick__previous-action::after {
  position: absolute;
  font-family: themify;
  content: "\e64a";
  font-size: 14px;
  background: #fff;
}
.lightpick__toolbar .lightpick__next-action {
  top: 0;
  margin: 0;
  right: 38px;
  background: transparent;
  border: 1px solid #eee;
  position: absolute;
}
.lightpick__toolbar .lightpick__next-action::after {
  position: absolute;
  font-family: themify;
  content: "\e649";
  font-size: 14px;
  background: #fff;
}

.at-tinymceeditor {
  width: 100%;
}
.at-tinymceeditor .mce-panel {
  border-color: #DDDDDD;
  background-color: #fff;
}
.at-tinymceeditor .mce-btn {
  background-color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999999;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 452px;
}

.at-actionselect .at-selectprice ~ .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0 46px 0 20px;
}

.at-section {
  padding: 80px 0;
}

.at-main {
  position: relative;
}

.at-pagebuilder-holder {
  display: flex;
  background-color: #fff;
}

.at-pagebuilder-right {
  width: 100%;
  max-width: 100%;
  padding-top: 40px;
}

.at-drophere-section {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 80px 20px 40px;
  justify-content: center;
}

.at-drophere-preview {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #F7F7F7;
  border: 1px solid #ffffff;
  border-radius: 4px 4px 0 0;
}
.at-drophere-preview figure {
  margin: 0;
  padding: 30px 0;
  text-align: center;
}
.at-drophere-preview figure img {
  max-width: 50px;
}
.at-drophere-preview figure figcaption {
  color: #999999;
  padding-top: 10px;
  font: 400 0.875rem/1.7142857143em "Open Sans", sans-serif;
}

.at-dragwidget-section {
  display: block;
  padding: 40px 0;
  margin: 0 125px;
  text-align: center;
  box-shadow: inset 0px -1px 0px #eeeeee, inset 0px 1px 0px #eeeeee;
}

.at-drag-widget em {
  color: #999999;
  display: block;
  margin-top: 15px;
  font: 500 0.8125rem/1.5384615385em "Open Sans", sans-serif;
}

.at-widget-btn {
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.at-addsection-btn {
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #93003c;
}
.at-addsection-btn:hover {
  color: #ffffff;
}

.at-addfolder-btn input {
  display: none;
}
.at-addfolder-btn label {
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #6d7882;
}

.at-widget-template {
  width: 100%;
  margin: 0 auto;
  max-width: 769px;
  position: relative;
}
.at-widget-template span {
  color: #999999;
  display: block;
  padding-top: 20px;
  font: 400 0.875rem/1.7142857143em "Open Sans", sans-serif;
}
.at-widget-template span a {
  font-style: italic;
}
.at-widget-template_list {
  padding: 0;
  margin: -10px;
  align-items: center;
  justify-content: center;
}
.at-widget-template_list li {
  padding: 10px;
  list-style-type: none;
  flex: max(138px, 20%);
}
.at-widget-template_list li figure {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #eeeeee;
}
.at-widget-template_list li figure svg {
  height: 70px;
  width: 100%;
  fill: #f4f4f4;
}
.at-widget-template_list li figure svg:hover {
  fill: #d5dbdc;
}

.at-close {
  top: -40px;
  right: -40px;
  line-height: 1;
  cursor: pointer;
  font-size: 20px;
  color: #d5dadf;
  position: absolute;
}
.at-close:hover {
  color: #6d7882;
}

.at-asidenav {
  width: 100%;
  z-index: 9999;
  height: 100%;
  position: fixed;
  max-width: 400px;
  background: #F7F7F7;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.06);
}
.at-asidenav_list {
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid #eeeeee;
}
.at-asidenav_btn {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  position: fixed;
  align-items: center;
  background-color: #0A0F26;
}

.at-btns-holder {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0;
}
.at-btns-holder li {
  width: 50%;
  display: flex;
  padding: 10px 0;
  align-items: center;
  list-style-type: none;
  justify-content: center;
}
.at-btns-holder li + li {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.at-btns-holder li a {
  gap: 8px;
  width: 100%;
  color: #999999;
  display: flex;
  padding: 4px 0;
  align-items: center;
  justify-content: center;
  font: 600 0.8125rem/1.6923076923em "Open Sans", sans-serif;
}
.at-btns-holder li a i {
  display: block;
  font-size: 18px;
  line-height: inherit;
}
.at-btns-holder li a:hover {
  color: #ffffff;
}

.at-asidenav_btn .at-btns-holder li {
  padding: 0;
}
.at-asidenav_btn .at-btns-holder li + li {
  margin: 0;
}

.at-openmenu-btn {
  top: 0;
  left: 0;
  width: 50px;
  z-index: 99991;
  display: block;
  font-size: 20px;
  position: fixed;
  color: #1C1C1C;
  line-height: 50px;
  background: #ffd101;
}

.at-openmenu .at-asidenav {
  transform: translateX(0);
}
.at-openmenu .at-pagebuilder-right {
  margin-left: auto;
  padding: 40px 0 0 400px;
}

.at-component-list {
  padding: 0;
  margin: 0;
  align-items: center;
  margin: -2px;
}
.at-component-list li {
  width: 50%;
  padding: 2px;
  list-style-type: none;
}

.at-widget-component {
  align-items: center;
  padding: 9px 10px;
  text-align: center;
  background: #F7F7F7;
  border-radius: 6px;
  min-height: 72px;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.at-widget-component > img {
  display: block;
  pointer-events: none;
}
.at-widget-component i {
  font-size: 20px;
  display: block;
}
.at-widget-component strong {
  width: 100%;
  display: block;
  font-weight: 600;
  padding-top: 10px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.at-pagebuilder-tab {
  width: 100%;
  padding-left: 50px;
}
.at-pagebuilder-tab li {
  width: 33.33%;
  list-style-type: none;
}

.at-nav-tabs {
  width: 100%;
  display: block;
  padding: 10px 15px;
  position: relative;
  justify-content: center;
  background-color: #ffffff;
}
.at-nav-tabs i {
  display: block;
  font-size: 20px;
  line-height: 29px;
}
.at-nav-tabs:after {
  left: 0;
  width: 0;
  height: 2px;
  content: "";
  bottom: -1px;
  position: absolute;
  background-color: #FCCF14;
}
.at-nav-tabs:hover:after, .at-nav-tabs.active:after {
  width: 100%;
}

.at-template-holder {
  border-top: 1px solid #eeeeee;
}

.at-template-sections .at-components-holder {
  box-shadow: none;
}
.at-template-sections + .at-template-sections {
  border-top: 1px solid #eeeeee;
}

.at-components-holder {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 11.5px 10px;
  background-color: #ffffff;
  justify-content: space-between;
  box-shadow: inset 0px -1px 0px #eeeeee;
}
.at-components-holder:after {
  content: "\e9c0";
  font-size: 20px;
  color: #999999;
  font-family: "icomoon" !important;
}
.at-components-holder[aria-expanded=true] {
  background-color: #F7F7F7;
}
.at-components-holder[aria-expanded=true]:after {
  content: "\e9a3";
}
.at-components-holder strong {
  display: block;
  font: 600 0.875rem/1.7142857143em "Urbanist", sans-serif;
}
.at-components-holder strong i {
  padding-right: 10px;
}

.at-components-content {
  padding: 10px;
  background-color: #ffffff;
}
.at-components-content h6 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  box-shadow: #eeeeee 0px 1px 4px, #eeeeee 0px 0px 0px 3px;
}
.at-components-content p {
  margin: 9px 0 0;
  color: #999999;
  font-size: 0.875rem;
  line-height: 1.625em;
}

.at-drophere-selected {
  position: relative;
  margin: 10px 20px;
  box-shadow: #fff 0px 1px 4px, #fff 0px 0px 0px 3px;
}
.at-drophere-selected:hover {
  box-shadow: #fdc689 0px 1px 4px, #fdc689 0px 0px 0px 3px;
}

.at-drophere-selected[draggable=true] {
  z-index: 99999;
}

.at-drophere-selected.active {
  box-shadow: 2px #fdc689;
}
.at-drophere-selected.active .at-dargsection-toltip {
  opacity: 1;
  visibility: visible;
}

.at-dargsection-toltip {
  margin: 0;
  left: 50%;
  top: -41px;
  padding: 0;
  opacity: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  position: absolute;
  transform: translate(-50%, 0);
  background-color: #fdc689;
  border-radius: 10px 10px 0 0;
  z-index: 1051;
}
.at-dargsection-toltip li {
  padding: 12px 10px;
  list-style-type: none;
}
.at-dargsection-toltip li a {
  color: #0A0F26;
  display: flex;
  font-size: 16px;
  align-items: center;
}
.at-dargsection-toltip li a:hover {
  color: #0A0F26;
}

.at-drophere-selected:hover .at-dargsection-toltip {
  opacity: 1;
  visibility: visible;
}

.at-sidebar-content {
  overflow: auto;
  height: calc(100% - 114px);
}
.at-sidebar-content::-webkit-scrollbar {
  width: 4px;
}
.at-sidebar-content::-webkit-scrollbar-track {
  background: #f7f7f7;
}
.at-sidebar-content::-webkit-scrollbar-thumb {
  border-radius: 60px;
  background-color: #22C55E;
}
.at-sidebar-content .mCSB_container {
  margin-right: 0;
}

.at-pagebuilder-navs {
  overflow: auto;
  box-shadow: inset 0px 1px 0px #eeeeee;
}

.at-dropover {
  background: #fffaf4;
  border: 1px solid #fdc689;
}

.at-pagebuilder-title {
  padding: 14px;
  background-color: #ffffff;
  box-shadow: inset 0px -1px 0px #eeeeee;
}
.at-pagebuilder-title h5 {
  display: flex;
  margin-bottom: 0;
  align-items: center;
}
.at-pagebuilder-title h5 span {
  margin-left: 10px;
}
.at-pagebuilder-title h5 + em {
  margin-top: 20px;
}
.at-pagebuilder-title em {
  display: block;
  color: #676767;
  font-style: italic;
}
.at-pagebuilder-title .at-inputicon i {
  right: 20px;
  font-size: 20px;
}

.at-inputicon {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}
.at-inputicon input {
  padding-right: 40px;
}
.at-inputicon input[type=number] {
  padding-right: 5px;
}
.at-inputicon i {
  right: 25px;
  font-size: 16px;
  color: #676767;
  position: absolute;
}

.at-designed-list {
  padding: 0;
  margin: 0;
}
.at-designed-list li {
  list-style-type: none;
}

.at-designed-content {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #eeeeee;
}
.at-designed-content > i.icon-menu {
  display: flex;
  font-size: 20px;
  color: #676767;
  padding: 15px 19px;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  border-right: 1px solid #eeeeee;
}
.at-designed-content_title {
  width: 100%;
  display: flex;
  padding: 0 19px;
  align-items: center;
  justify-content: space-between;
}
.at-designed-content_title span {
  font-weight: 400;
}
.at-designed-content_title i {
  font-weight: 400;
  color: #DDDDDD;
}

.at-style-component {
  padding: 0;
  margin: -5px;
  align-items: center;
}
.at-style-component li {
  padding: 5px;
  width: 50%;
  list-style-type: none;
}

.at-aligntext-style {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #999999;
}
.at-aligntext-style li {
  width: 25%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.at-aligntext-style li + li {
  border-left: 1px solid #999999;
}
.at-aligntext-style li a {
  display: flex;
  padding: 7px 0;
  font-size: 20px;
  color: #999999;
  align-items: center;
  justify-content: center;
}
.at-aligntext-style li a:hover, .at-aligntext-style li a.active {
  background-color: #DDDDDD;
}
.at-aligntext-style li label {
  display: inline-flex;
  margin: 0;
  padding: 7px 0;
}
.at-aligntext-style li input {
  display: none;
}
.at-aligntext-style .active {
  background: #DDDDDD;
}

.at-empty-block-settings {
  padding: 10px;
  margin: 10px 9px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #DDDDDD;
}
.at-empty-block-settings span {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  font: 400 0.8125rem/1.6923076923em "Open Sans", sans-serif;
}

.at-pixel {
  color: #999999;
  font: 400 0.8125rem/1.6923076923em "Open Sans", sans-serif;
}

.at-accordion {
  width: 100%;
  padding: 10px;
}
.at-accordion .accordion-button {
  border: 0;
  padding: 0;
  color: #212529;
  box-shadow: none;
  line-height: 22px;
  background: #ffffff;
  align-items: center;
  justify-content: space-between;
  font: 600 1.125rem/1.4444444444em "Urbanist", sans-serif;
}
.at-accordion .accordion-button::after {
  display: none;
}
.at-accordion .accordion-button:focus {
  border: 0;
}
.at-accordion .accordion-item {
  box-shadow: none;
  border-radius: 4px !important;
  border: 1.5px solid #eeeeee;
}
.at-accordion .accordion-item + .accordion-item {
  margin-top: 10px;
}
.at-accordion .accordion-item h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.at-accordion .accordion-item h2 span {
  line-height: 22px;
}
.at-accordion .accordion-item h2 span i {
  font-size: 20px;
  line-height: 22px;
}
.at-accordion .accordion-body {
  border-top: 1.5px solid #eeeeee;
  padding: 10px;
}

a.at-plus-icon {
  display: block;
  margin: 0 auto 20px;
  display: flex;
  padding: 7px 20px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  font: 700 0.875rem/1.5714285714em "Open Sans", sans-serif;
}
a.at-plus-icon :hover {
  color: #ffffff;
}
a.at-plus-icon i {
  font-size: 18px;
  margin-right: 4px;
}

.at-admin-imgarea {
  width: 100%;
  padding: 19px;
  border-radius: 4px;
  align-self: flex-start;
  border: 1.5px solid #eeeeee;
  position: relative;
}
.at-admin-imgarea figure {
  margin: 0;
  border-radius: 6px;
  background-color: #000000;
}
.at-admin-imgarea figure img {
  width: 100%;
  height: 150px;
  border-radius: 3px;
  object-fit: cover;
}
.at-admin-imgarea .tk-preloader {
  top: 35%;
  transform: translateX(-35%);
}
.at-admin-imgarea label {
  margin: 0;
  flex: none;
  color: #1C1C1C;
  padding: 5px 27px;
  border-radius: 4px;
  background: #ffd101;
  font: 600 0.875rem/1.7142857143em "Urbanist", sans-serif;
}
.at-admin-imgarea label input {
  display: none;
}

.at-del-img {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
.at-del-img a {
  display: flex;
  align-items: center;
}

.at-trash {
  color: #EF4444;
  font-size: 20px;
}

.publish-page.disabled {
  color: #999999;
  pointer-events: none;
  background-color: #f7f7f7;
}

.tox-tinymce-aux {
  z-index: 130000000000 !important;
}

.tox .tox-collection__item-label {
  line-height: 1.1 !important;
}

@media (max-width: 1680px) {
  .at-openmenu .at-pagebuilder-right,
.at-pagebuilder-right {
    padding: 40px 0 0;
  }
  .at-openmenu .at-asidenav {
    transform: translateX(-100%);
  }
  .at-asidenav {
    transform: translateX(0);
  }
}
@media (max-width: 1199px) {
  .tb-navbarnav {
    border: 1px solid #ddd;
    border-top: 0;
  }
}
@media (max-width: 480px) {
  .at-drophere-selected {
    margin: 6px 4px;
  }
}

/*# sourceMappingURL=main.css.map */
