.tb-mainwrapper {
    display: flex;
    position: relative;
}

.tb-subwrapper {
    width: 100%;
    padding: 0 18px;
    .theme-container {
        @extend %flex;
        flex-direction: column;
    }
    .builder-container{
        min-height: calc(100vh - 163px);
    }
}

.tb-main {
    width: 100%;
    padding: 30px 0 30px 0;
    min-height: calc(100vh - 123px);
    >.row {
        margin-top: -15px;
        margin-bottom: -15px;
        >[class^="col-"] {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}

.tb-main-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.tb-stars,
.tb-stars span {
    height: 16px;
    line-height: 16px;
    position: relative;
}

.tb-stars {
    display: block;
    width: 78.13px;
    &:before,
    span:after {
        top: 0;
        left: 0;
        color: #f5b417;
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
        position: absolute;
        letter-spacing: 1px;
        font-family: "Font Awesome 5 Free";
        content: "\f005 \f005 \f005 \f005 \f005";
    }
    &:before {
        color: #c4c4c4;
    }
    span {
        @extend %flex;
        width: 80%;
        overflow: hidden;
    }
}

blockquote,
address {
    margin-bottom: 0;
}


/*Theme Pagination Style */

.tb-pagination {
    @extend %flex;
    font: 600 rem(13px) / em(38, 13) $heading-font-family;
    ul {
        @extend %flex;
        text-align: center;
        line-height: inherit;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: -5px;
        li {
            padding: 5px;
            line-height: inherit;
            list-style-type: none;
            display: inline-block;
            vertical-align: middle;
            a {
                width: 40px;
                display: block;
                @extend %transition;
                text-align: center;
                line-height: 38px;
                border-radius: $radius;
                border: 1px solid $border-color;
                color: $heading-font-color;
            }
            span {
                width: 65px;
                display: block;
                @extend %transition;
                text-align: center;
                line-height: 38px;
                border-radius: $radius;
                border: 1px solid $border-color;
                color: $heading-font-color;
            }
            &.tb-prevpage {
                margin-right: 15px;
                & a {
                    width: 65px;
                }
            }
            &.tb-nextpage {
                margin-left: 15px;
                & a {
                    width: 65px;
                }
            }
            & a:hover,
            &.active a {
                color: #fff;
                border-color: transparent;
                background: $theme-color;
            }
        }
    }
}

.tb-dhbbg-color {
    background-color: #fcfcfc;
    .tb-header {
        background-color: #fff;
    }
}

.form-control.disable {
    pointer-events: none;
    background-color: #fcfcfc;
}

.tb-edit {
    color: $theme-color !important;
}

.tb-delete,
.tb-target {
    color: #ff7062 !important;
}

.tb-deactivate {
    background-color: #ff7062 !important;
}

.tb-deactivate-light {
    background-color: rgba($color: #ff7062, $alpha: 0.1) !important;
}

.tb-on-off,
.tb-onoff {
    input {
        display: none;
    }
}

.tb-onoff label {
    @extend %flex;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer;
    span {
        font: 400 rem(12) $heading-font-family;
        color: #999;
        padding-left: 10px;
        min-width: 56px;
    }
    .tb-disable {
        display: block;
    }
    .tb-enable {
        display: none;
    }
}

.tb-onoff input:checked+label {
    .tb-enable {
        display: block;
    }
    .tb-disable {
        display: none;
    }
}

.tb-on-off input:checked+label,
.tb-onoff input:checked+label em {
    border-color: #26de81;
    background-color: #26de81;
}

.tb-on-off input:checked+label>i,
.tb-onoff input:checked+label em>i {
    box-shadow: none;
    left: 100%;
    margin-left: -21px;
    border-color: #26de81;
}

.tb-on-off label {
    cursor: pointer;
}

.tb-on-off label,
.tb-onoff label em {
    position: relative;
    @extend %flex;
    align-items: center;
    margin: 0;
    width: 35px;
    height: 21px;
    border: 1px solid #dddddd;
    background-color: #fff;
    border-radius: 10.5px 10.5px 10.5px 10.5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    vertical-align: middle;
    i {
        position: absolute;
        left: 0;
        width: 21px;
        height: 21px;
        background: #fff;
        display: inline-block;
        pointer-events: none;
        transition: all 0.3s ease 0s;
        border: 1px solid #d8d8d8;
        border-radius: 9.5px 9.5px 9.5px 9.5px;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    }
}

.tb-hottag {
    @extend %flex;
    position: relative;
    padding: 6px 8.36px;
    background-color: #ff7062;
    color: #fff;
    border-radius: 3px;
    margin-left: 13px;
    height: 24px;
    min-width: 33px;
    -webkit-animation: tb-ring 4s 0.7s ease-in-out infinite;
    animation: tb-ring 4s 0.7s ease-in-out infinite;
    font: 700 11px/1 $heading-font-family;
    &:before {
        content: "";
        position: absolute;
        left: -3.5px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        background-color: #ff7062;
        width: 4px;
        height: 8px;
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }
}

.tb-pagination-box {
    padding: 30px 29px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
}

.tb-bordertags {
    width: auto;
    a,
    span {
        border-radius: 4px;
        padding: 0 10px;
        font: 700 rem(12) / em(24, 12) $heading-font-family;
        border: 1px solid #22C55E;
        text-transform: capitalize;
        color: $dark;
        display: inline-block;
    }
}

.bordr-green {
    border-color: #00cc8d !important;
}

.bordr-red {
    border-color: #ff7062 !important;
}

#te-switch {
    display: flex;
    align-items: center;
    position: relative;
}

.tb-dhb-mainheading {
    @extend %flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    .tb-sortby{
        padding: 0;
    }
    > h2,
    > h4 {
        margin: 0;
        padding: 0;
        flex: none;
        font-weight: 600;
    }
    & > h2{
        flex: none;
        padding: 5px;
        color: #0A0F26;
        margin-bottom: 0;
        margin: -6px 0 -8px;
        font: 600 22px/30px 'Urbanist', sans-serif;
    }
    &__rightarea {
        @extend %flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
        em {
            padding-right: 30px;
            line-height: em(20, 14);
            color: #999;
            text-align: right;
            flex: 0 0 45%;
        }
    }
}

.tb-postedarticles {
    display: flex;
    align-items: center;
    position: relative;
    figure {
        width: 50px;
        margin: 0 20px 0 0;
        overflow: hidden;
        img {
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            width: 100%;
        }
    }
}

.tb-articlelisting {
    .tb-tabbitem {
        list-style-type: none;
        ~.tb-tabbitem {
            border-top: 1px solid $border-color;
            padding-top: 20px;
            margin-top: 20px;
        }
        .tb-postedarticles {
            align-items: initial;
            figure {
                width: 50px;
                margin: 0 20px 0 0;
                flex: none;
            }
        }
    }
}

.tb-actionlinks {
    display: flex;
    flex-wrap: wrap;
    margin: 3px 0 0;
    a {
        position: relative;
        display: inline-block;
        color: $text-light;
        font: 400 rem(12) / em(14, 13) $heading-font-family;
        margin: 0;
        &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 10px;
            right: -12px;
            top: 2px;
            background: #dddddd;
        }
        &:last-child::after {
            display: none;
        }
    }
    a+a {
        margin: 0 0 0 22px;
    }
}

.tb-relink {
    color: #ff7062 !important;
}

.tb-articleinfo {
    overflow: hidden;
    .tb-icondetails {
        a {
            margin: 0 0 2px;
            line-height: 1;
        }
        h6 {
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            margin: 0 0 3px;
        }
    }
}

.tb-selectlisting {
    width: 100%;
    .tb-selected {
        padding: 22px 0 10px;
    }
}

.tb-bodybg {
    background: #fcfcfc;
}

.tb-deatlswithimg {
    display: flex;
    align-items: center;
    position: relative;
    .tb-icondetails {
        >a {
            margin-bottom: 2px;
        }
    }
    figure {
        width: 100px;
        margin: 0 20px 0 0;
        overflow: hidden;
        img {
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            width: 100%;
        }
    }
}

.tb-icondetails {
    >a {
        color: $anchor-color;
        display: block;
        font: 400 rem(13) / em(18, 13) $heading-font-family;
        margin: 0 0 4px;
    }
    h6 {
        margin: 0px 0 3px;
        a:hover {
            color: #333;
        }
    }
    .tb-rateviews {
        padding-bottom: 1px;
    }
}

.tb-eyeviews {
    em {
        color: $body-font-color;
        font-style: normal;
        font: 400 rem(12) / em(15, 12) $heading-font-family;
        margin: 0 2px;
    }
    span {
        font-size: 12px;
        margin: 0 0 0 22px;
        font-weight: 500;
    }
}

.tb-reviewsviews {
    display: flex;
    .tb-eyeviews:first-child {
        span {
            margin: 0;
        }
    }
}

.tb-itemlinks {
    display: flex;
    align-items: center;
}

.tb-tabicon {
    border-left: 1px solid $border-color;
    padding: 16px 0 16px 30px;
    margin: 0 0 0 29px;
    >li {
        display: inline-block;
        list-style-type: none;
        position: relative;
        >a {
            font-size: 16px;
            transform: none;
            display: block;
        }
        >span {
            display: block;
            font-size: 16px;
        }
        &+li {
            margin: 0 0 0 18px;
        }
    }
    .tb-messageuserabove__feature {
        .sub-menuholder {
            margin-top: 8px;
        }
    }
}

.bg-yellow {
    color: $secondary-color;
}

.bg-light {
    color: #bebebe;
}

.tb-savelisting {
    >li {
        list-style-type: none;
        border: 1px solid $border-color;
        padding: 30px;
        background: #fff;
        border-bottom: 0;
        .tb-profilestatus {
            @extend %flex;
            margin-top: 15px;
            li {
                +li {
                    margin: 0 0 0 35px;
                }
            }
        }
        .tb-profileprogress {
            width: 128px;
        }
        .tb-profiletime {
            width: auto;
            span {
                font-size: rem(12);
                color: $body-font-color;
                margin-bottom: 9px;
            }
        }
    }
}

.tb-tabbitem {
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.tb-red {
    color: #ff7062 !important;
}

.tb-blue {
    color: #3377FF;
}

.tb-gray {
    color: #ccc;
}

.tb-green-icon i {
    color: #00cc8d;
}

.tb-yellow-icon i {
    color: $secondary-color;
}

.tb-theme-color {
    color: $theme-color;
}

.tb-bg-green {
    background-color: #00cc8d !important;
}

.tb-bg-lightgreen {
    background-color: #90a080 !important;
}

.tb-bg-yellow,
.tb-bar-yellow:before {
    background-color: $secondary-color !important;
}

.tb-bg-skycolor {
    background-color: #4fc0e8 !important;
}

.tb-qouttext {
    text-align: center;
    h2 {
        margin: 27px 0 1px;
        font-style: italic;
        font: 400 rem(30) / em(39, 30) $heading-font-family;
    }
    ~.tb-description {
        p {
            margin: 0 0 27px;
        }
    }
}

.tb-qouttextname {
    a {
        margin: 4px 0 23px;
        display: inline-block;
        font: 400 rem(18) / em(28, 18) $heading-font-family;
    }
}

.tb-byadons {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border: 1px solid $border-color;
    border-top: 0;
    .tb-dhb-mainheading__rightarea {
        em {
            text-align: left;
            flex: auto;
            margin: 0 0 0 15px;
        }
    }
}

.tb-addcomment {
    padding: 30px 0;
    .tb-description {
        margin: 3px 0 14px;
        p {
            font-size: rem(14px);
            line-height: em(22, 14);
            margin: 0;
        }
    }
}

.tb-comentinfo {
    @extend %flex;
    align-items: center;
    figure {
        margin: 0 20px 0 0;
        img {
            width: 34px;
            border-radius: 50%;
        }
    }
    .btn-reply {
        margin-left: auto;
        align-self: start;
    }
}

.tb-comentinfodetail {
    a {
        display: block;
        h5 {
            color: #123652;
            margin: 0;
            span {
                color: #55acee;
                display: inline-block;
            }
        }
    }
    >span {
        display: inline-block;
        color: $text-light;
        font: 400 rem(14) / em(14, 14) $body-font-family;
    }
}

.tb-doclist {
    @extend %flex;
    li {
        margin: 0 10px 0 0;
        list-style-type: none;
        img {
            width: 30px;
        }
    }
}

.tb-documentlist {
    @extend %flex;
    align-items: center;
    justify-content: space-between;
    &~.tb-profileform__title {
        margin-top: 30px;
    }
}

.btn-reply {
    color: $text-light;
    padding: 7px 24px;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    border: 1px solid $border-color;
    font: 600 rem(14) / em(14, 14) $heading-font-family;
    @extend %transition;
    &:hover {
        color: #333333;
        background: $secondary-color;
        border: 1px solid transparent;
    }
}

.tb-profileform__title {
    h6 {
        font-weight: 600;
        margin: 0;
        a {
            &:hover {
                color: inherit;
            }
        }
    }
}

.tb-taskuploadtitle {
    h6 {
        margin: 14px 0 0;
        font-weight: 400;
    }
    &~.tb-uploadarea {
        width: 100%;
    }
}

.tb-taskbtn {
    .tb-btn {
        margin-top: 20px;
    }
}

.tk-profileform {
    fieldset {
        margin: 0;
    }
    .tb-titleinput {
        flex: 0 0 194px;
        align-self: flex-start;
        padding-top: 16px;
    }
    &__title {
        @extend %flex;
        align-items: center;
        background-color: #f7f7f7;
        border-radius: 4px;
        padding: 8.5px 20px;
        width: 100%;
        h5 {
            @extend %flex;
            align-items: center;
            margin-bottom: 0;
            font-weight: 400;
        }
        &--rightarea {
            margin-left: auto;
        }
        .tb-onoff {
            margin-left: auto;
        }
    }
    &__content {
        display: flex;
        .tb-themeform__wrap {
            margin: -5px;
        }
        .form-group {
            margin-bottom: 0;
        }
        ~.tb-profileform__content {
            padding-top: 10px;
        }
        &:last-child {
            .tb-selectlisting .tb-selected {
                padding-bottom: 0;
            }
        }
        .tb-dhbbtnarea {
            padding-top: 10px;
        }
    }
    &__detail {
        padding: 30px 30px 0;
    }
    &__checkbox {
        @extend %flex;
        padding: 17px 20px;
        background-color: #fcfcfc;
        border-radius: $radius;
        width: 100%;
        label {
            padding: 0 0 0 27px;
        }
        span {
            font: 400 rem(13) $heading-font-family;
        }
        >div {
            ~div {
                padding-left: 45px;
            }
        }
    }
    &__holder {
        ~.tb-profileform__holder {
            padding-top: 30px;
        }
    }
}

.tb-description {
    p {
        font-size: rem(16px);
        line-height: em(26, 16);
        margin: 0 0 18px;
    }
}

.tb-dbholder {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 8%);
    & > .tb-dbbox{background-color: transparent;}
    .tb-tabfilter {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }
    .tb-showall {
        a {
            border: 0;
        }
    }
    ~.tb-dbholder {
        margin-top: 30px;
    }
}

.tb-dbbox {
    padding: 29px;
    background: #fff;
    position: relative;
    h5{
        margin: 6px 0 0;
    }
    ~.tb-dbbox {
        @extend %border-top;
    }
    [aria-expanded="false"] {
        .tb-additonoltitle {
            >i {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
            }
        }
    }
}

.tb-dbboxtitle {
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: #FAFAFB;
    border-radius: $radius $radius 0 0;
    h5 {
        font: 600 rem(16)/em(26, 16) $heading-font-family;
        margin: 0;
    }
}

.tb-dbtnarea {
    display: flex;
    width: 100%;
    margin-top: 6px;
    em {
        line-height: 1.4285714286em;
        color: #999;
        display: block;
        padding-bottom: 15px;
    }
}

.tb-featureRating {
    h4 {
        display: inline-block;
        vertical-align: middle;
        padding-right: 2px;
    }
    >em {
        font: normal 400 rem(14) $heading-font-family;
        color: #999;
        vertical-align: middle;
    }
    &__stars {
        @extend %tb-featureRating__stars;
        letter-spacing: 1px;
        display: inline-flex;
        vertical-align: middle;
        +em {
            padding-left: 2px;
        }
        &::before {
            @extend %tb-featureRating;
            @extend %tb-featureRating__starsIcon;
            color: #dddddd;
        }
        span {
            @extend %tb-featureRating__stars;
            width: 80%;
            overflow: hidden;
            &::after {
                @extend %tb-featureRating;
                @extend %tb-featureRating__starsIcon;
            }
        }
    }
}

.tb-blogimg {
    display: flex;
    figure {
        margin: 0;
        img {
            border-radius: 50%;
            width: 65px;
        }
    }
}

.tb-blogimgv2 {
    figure {
        img {
            width: 50px;
        }
    }
}

.text-grey {
    color: #bebebe;
}

.tb-artcles-listing {
    .tb-tabbitem {
        .tb-itemlinks {
            .tb-switchservice {
                border-left: 0;
            }
        }
    }
}

.tb-sectionmid {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding: 17px 0 14px 0;
    .tb-sectiontitle {
        h2 {
            line-height: em(36, 28);
        }
    }
}

.tb-anywaybtns {
    margin-top: 23px;
    .tb-btn {
        max-width: 219px;
        margin: 0 auto;
        &+.tb-btn {
            margin-top: 4px;
        }
    }
}

.tb-deletepopup {
    .modal-dialog {
        max-width: 542px;
    }
}

.tb-acountlock {
    .modal-dialog {
        max-width: 790px;
    }
}

.tb-sectionmidv2 {
    width: 91%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tb-themeform {
        width: 83%;
        margin: 0 auto;
        padding-top: 13px;
    }
    figure {
        margin-bottom: 33px;
    }
    .tb-sectiontitle {
        h2 {
            width: 70%;
            margin: 0 auto;
        }
    }
}

.tb-notasks {
    height: 641px;
    padding: 0;
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid $border-color;
    border-top: 0;
    border-radius: 4px;
    .tb-sectiontitle {
        width: 80%;
        margin: 0 auto;
        h2 {
            line-height: em(35, 28);
        }
    }
    .tb-profilebtnarea {
        .tb-btn {
            display: flex;
            margin: 4px 0 0;
        }
    }
}

.btn-simple {
    background: transparent;
    color: #55acee;
    font-weight: 600;
    &:hover {
        color: #55acee;
    }
}

.tb-prefrelancer__child {
    .tb-showprefrelancer {
        display: block;
    }
    li {
        &:nth-child(n + 14):not(:last-child) {
            display: none;
        }
        &:nth-child(n):nth-child(-n + 13) {
            display: block !important;
            height: auto !important;
            margin: 0 !important;
            padding: 5px !important;
        }
    }
}

.tb-grab {
    cursor: grabbing;
}

.tb-uploadbar {
    margin: 0;
    padding: 0;
    display: flex;
    li {
        background-color: #fcfcfc;
        padding: 2px 20px;
        border-radius: $radius;
        @extend %flex;
        align-items: center;
        overflow: hidden;
        span {
            position: relative;
            font-size: rem(15);
            z-index: 1;
        }
        ~li {
            margin-top: 10px;
        }
    }
    img {
        display: block;
        margin: 15px 0;
    }
    .tb-btnplain {
        color: #ff7062;
    }
}

.tb-uploading {
    position: relative;
    .tb-remove {
        display: none;
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 80%;
        height: 100%;
        border-radius: $radius;
        background: url(../../../images/progressbar.png);
        -webkit-animation: tb-stripe 2s linear infinite;
        animation: tb-stripe 2s linear infinite;
    }
}

.tb-uploadarea {
    width: 100%;
    padding: 19px;
    @extend %border;
    border-radius: $radius;
    align-self: start;
    >em {
        display: block;
        margin-bottom: 0;
        font-size: rem(13);
        line-height: em(18, 13);
        padding-top: 0;
        color: $text-light;
        label {
            color: $anchor-color;
            display: inline-block;
            margin: 0;
            cursor: copy;
            input {
                display: none;
            }
        }
    }
}
.tb-uploadel{
    background: #F7F7F7;
    border-radius: 4px;
    padding: 10px 20px;
    span {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $anchor_color;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        p{
            width: 250px;
            overflow: hidden;
            margin-bottom: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        i{
            display: inline-block;
            font-size: 16px;
            color: #EF4444;
        }
    }
    + .tb-uploadel{
        margin-top: 10px;
    }
}
.tb-upload-two{
    padding: 0;
    display: flex;
    border-radius: 0;
    align-items: center;
    background-color: transparent;
    span{
        padding: 10px 20px;
        word-break: break-word;
        border-radius: $radius;
        background-color: $lightest;
        i{
            display: block;
            font-size: 20px;
        }
    }
    img{
        width: 42px;
        height: 42px;
        object-fit: cover;
        margin:0 10px 0 0;
        border-radius: 4px;
    }
}

.tb-uploadarea{
    .tb-uploadel{
        width: 100%;
        margin-top: 10px;
    }
}
.tb-package-settings{
    .tb-uploadbartwo{
        .tb-uploading,
        .tb-upload-two{margin-bottom: 10px;}
    }
}
.tb-uploadbartwo{
    & .tb-uploading{
        width: 100%;
        padding: 7px 20px;
        margin-top: 10px;
        &::before{
            width: 100%;
        }
        span{
            color: $dark;
            font: 400 13px/22px 'Open Sans', sans-serif;
        }
    }
    a{
        display: block;
        color: $anchor_color;
        font: 400 13px/22px 'Open Sans', sans-serif;
    }
    em{
        color: #1C1C1C;
        font-style: normal;
        font: 400 13px/22px 'Open Sans', sans-serif;
        label{
            margin: 0;
            cursor: pointer;
            display: block;
            span{
                color: $anchor_color;
                font: 400 13px/22px "Open Sans", sans-serif;
            }
        }
    }
    .tb-remove{
        width: 100%;
        padding: 10px 20px;
        align-items: center;
        display: inline-flex;
        background: $lightest;
        justify-content: space-between;
        span{
            color: #3377FF;
            font: 400 14px/24px 'Open Sans', sans-serif;
            a{
                color: $red;
                font-size: 20px;
            }
        }

    }
    .tb-upload-limit{
        & + em{
            margin-top: 0;
        }
    }
    .tb-uploadbar{
        .tb-uploadel,
        .tb-uploading{margin-bottom: 10px;}
    }
}
.tb-remove {
    font-size: rem(13);
    color: #ff7062;
    margin-left: auto;
    a {
        color: inherit;
    }
}

.tb-openmessage {
    overflow-y: auto;
}

.fa-spinner {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

.tb-border-t {
    @extend %border-top;
}

.tb-overxhidden {
    overflow-x: hidden;
}

.tb-formblogtitle {
    h3 {
        font: 700 rem(20) / em(24, 20) $heading-font-family;
        margin-bottom: 24px;
    }
}

.tb-bodycolor {
    background-color: #fcfcfc;
}

.tb-btnplain {
    color: #55acee;
    display: inline-block;
    margin: 0;
    background: transparent;
    width: 100%;
}

.tb-themeselect_value {
    color: $light;
    @extend %flex;
    align-items: center;
    position: relative;
}
.tk-selected{
    color: $dark;
}
.tb-themeselect-wrapper{
    width: 100%;
}
.tb-themeselect_options {
    width: 100%;
    display: none;
    z-index: 111;
    border-top: 0;
    padding: 10px;
    max-height: 200px;
    background: #fff;
    position: absolute;
    border: 1px solid #eee;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0px 2px 4px rgb(0 0 0 / 4%), 0px 8px 16px rgb(0 0 0 / 8%);
    box-shadow: 0px 2px 4px rgb(0 0 0 / 4%), 0px 8px 16px rgb(0 0 0 / 8%);
    li {
        @extend %transition;
        list-style-type: none;
        input {
            display: none;
        }
        label {
            margin: 0;
            padding: 10px;
            cursor: pointer;
            color: #0A0F26;
            border-radius: 4px;
            font: 700 1rem/1.625em "Urbanist", sans-serif;
        }
        &:hover {
            background: #f7f7f7;
        }
    }
}

.tb-disputetable {
    .tb-btn {
        float: left;
        margin: 0 0 30px;
    }
}
.tb-themeselect {
    width: 100%;
    position: relative;
}

@for $i from 1 through 50 {
    $step: $i*1;
    .level-#{$step} {
        margin-left: #{$step*10}px !important;
    }
}

.tk-emptydetails {
    display: flex;
    min-height: 294px;
    background: #fff;
    border-radius: 4px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #eee;
    img {
        max-width: 80px;
        display: inline-block;
    }
    em {
        color: $heading-font-color;
        font: 600 rem(20px)/em(30, 24) $heading-font-family;
        display: inline-block;
        margin: 15px 0 0;
    }
}

.tk-errormsg {
    width: 100%;
    span {
        display: block;
        margin: 10px 0 0;
        color: #EF4444 !important;
        font: 700 rem(14px)/em(18, 14) $heading-font-family;
    }
}

.tb-emailform {
    .tb-uploadbar {
        img {
            max-width: 300px;
        }
    }
}
.tk-error{
    width: 100%;
}
.tk-invalid{
    border-color: $red !important;
    .select2-container--default .select2-selection--single {
        border-color: $red !important;
    }
    & + .tippy{margin-top: -15px;}
} 

// project tag
.tk-project-tag{
    padding: 0 10px;
    border-radius: 4px;
    @extend %label_title;
    display: inline-block;
    color: $charcoal_black;
    text-transform: uppercase;
    border: 1px solid $lighter;
}
.tk-drafted{
    background: $lightest;
    color: $dark;
    border: 0;
}
.tk-awaiting{
    border-color: #64748B;
}
.tk-canceled{
    border-color: $red;
    &:hover,
    &:focus{
        background: transparent !important;
    }
}
.tk-ongoing {
    border-color: #F97316; 
}
.tk-success-tag{
    color: $dark;
    border-color: $bright-green;
    &:hover{
        color: $dark;
        background-color: transparent !important;
    }
}
.tk-active{
    border-color: $bright-green;
}
.tk-disabled{
    color: $light;
    pointer-events: none;
    border-color: $lightest;
    background-color: $lightest;
}
.tk-pagination {
    width: 100%;
    @extend %flex;
    margin-top: 30px;
    justify-content: center;
    ul {
        @extend %flex;
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: -5px;
        padding-left: 0;
        li {
            padding: 5px;
            line-height: inherit;
            list-style-type: none;
            display: inline-block;
            vertical-align: middle;
            &.tk-prevpage{
                padding-right: 45px;
            }
            &.tk-nextpage{
                padding-left: 45px;
            }
            a,span {
                width: 44px;
                height: 44px;
                color: $light;
                @extend %flex;
                @extend %transition;
                border-radius: 4px;
                align-items: center;
                justify-content: center;
                background-color: $white;
                border: 1px solid $lightest_2;
                font: 700 1rem/1.625em "Urbanist", sans-serif;
            }
            i {
                display: block;
                font-weight: 600;
                line-height: inherit;
            }
            & a:hover,
            &.active a,
            &.active span {
                color: $white;
                border-color: #051237;
                background-color: #051237;
            }
        }
    }
}
.tk-fixed-tag{
    color: $white;
    border-radius: 4px;
    border-color: $orange;
    background-color: $orange;
}
.tk-hourly-tag{
    color: $white;
    border-radius: 4px;
    border-color: $bright-green;
    background-color: $bright-green;
}

// preloader
.preloader-outer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    background: rgb(255 255 255 / 0.7);
  }
  .tk-preloader {
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      margin: 0 auto;
      border-radius: 50%;
      background: $white;
      position: absolute;
      align-items: center;
      justify-content: center;
      transform: translate(-50%, -50%);
      animation:  0.8s infinite linear;
      -webkit-animation:  0.5s infinite linear;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08),0px 20px 32px rgba(0, 0, 0, 0.12);
      img{
          width: 20px;
          height: 20px;
      }
  }
.tk-loader-section{
    position: relative;
   
    .preloader-outer{
        background: none;
    }
}
.tk-section-preloader{
    position: relative;
    .preloader-outer {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        position: absolute;
        background: rgba(255, 255, 255, 0.2);
    }
    &::after{
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(255 255 255 / 0.7);
    }
}
@keyframes sectionloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.mCSB_inside>.mCSB_container{
    margin-right: 10px;
}
.tk-conversation-holder .mCSB_inside>.mCSB_container{
    margin-right: 20px;
}
.tb-navdashboard .mCSB_scrollTools{
    position: absolute;
    right: -6px;
}

.tb-form-span{
    margin: 10px 0 0;
    color: #64748B;
    font: 400 rem(13)/em(22,13) $body-font-family;
}
.tk-custom-scrollbar{
    max-height: 500px;
    overflow: auto;
    scrollbar-width: none;
    padding-right: 20px;
    &::-webkit-scrollbar {
        width: 3px;   
    }
    &::-webkit-scrollbar-track {
        background: $white;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 1.5px;       
        background-color: $bright-green;    
    }
}
.tb-packege-setting{
    .tb-dbbox.tb-dbboxtitle h5{margin-top: 0;}
    .tk-custom-scrollbar{
        max-height: 200px;
        padding-right: 10px;
    }
}
    